<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <!--<properties resource="application.yml"/>-->

    <springProperty scope="context" name="sqlLevel" source="sql.level" defaultValue="info"/>
    <springProperty scope="context" name="domain" source="spring.jmx.default-domain" defaultValue="info"/>


    <!-- 输出到控制台 -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread|%X{invokeNo}] %-5level %logger{36}-%msg%n
            </pattern>
        </layout>
    </appender>

    <!-- 输出到文件 -->
    <appender name="fileLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>/logs/${domain}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info" additivity="false">
        <appender-ref ref="fileLog"/>
        <appender-ref ref="stdout"/>
    </root>

    <logger name="org.springframework.web" level="info" additivity="false">
        <appender-ref ref="fileLog"/>
        <appender-ref ref="stdout"/>
    </logger>
    <logger name="org.springframework.boot.web" level="error" additivity="false">
        <appender-ref ref="fileLog"/>
        <appender-ref ref="stdout"/>
    </logger>
    <logger name="org.springframework.boot.autoconfigure" level="error" additivity="false">
        <appender-ref ref="fileLog"/>
        <appender-ref ref="stdout"/>
    </logger>
    <logger name="org.springframework.boot.context" level="error" additivity="false">
        <appender-ref ref="fileLog"/>
        <appender-ref ref="stdout"/>
    </logger>
    <logger name="com.kiilin" level="${sqlLevel}" additivity="false">
        <appender-ref ref="fileLog"/>
        <appender-ref ref="stdout"/>
    </logger>

</configuration>