<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kiilin.modules.dao.SysDictTypeDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kiilin.modules.pojo.dto.SysDictType">

        <id column="id" property="id" />
            <result column="createBy" property="createBy" />
            <result column="createTime" property="createTime" />
            <result column="updateBy" property="updateBy" />
            <result column="updateTime" property="updateTime" />
            <result column="delFlag" property="delFlag" />
            <result column="remark" property="remark" />
            <result column="typeValue" property="typeValue" />
        <result column="typeLabel" property="typeLabel" />
        <result column="sysFlag" property="sysFlag" />
        <result column="sort" property="sort" />
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        <!-- 公共字段 -->
            `id` AS `id`,
            `create_by` AS `createBy`,
            `create_time` AS `createTime`,
            `update_by` AS `updateBy`,
            `update_time` AS `updateTime`,
            `del_flag` AS `delFlag`,
            `remark` AS `remark`,
            <!-- 普通字段 -->
                `type_value` AS `typeValue`,
            `type_label` AS `typeLabel`,
            `sys_flag` AS `sysFlag`,
            `sort` AS `sort`
        </sql>

</mapper>
