<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kiilin.modules.dao.SysDeptDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kiilin.modules.pojo.dto.SysDept">

        <id column="id" property="id"/>
        <result column="createBy" property="createBy"/>
        <result column="createTime" property="createTime"/>
        <result column="updateBy" property="updateBy"/>
        <result column="updateTime" property="updateTime"/>
        <result column="delFlag" property="delFlag"/>
        <result column="remark" property="remark"/>
        <result column="parentId" property="parentId"/>
        <result column="parentIds" property="parentIds"/>
        <result column="deptName" property="deptName"/>
        <result column="deptCode" property="deptCode"/>
        <result column="deptLevel" property="deptLevel"/>
        <result column="deptType" property="deptType"/>
    </resultMap>

    <!-- 通用查询映射结果 -->
    <resultMap id="treeMap" type="com.kiilin.modules.pojo.entity.SysDeptEntity">

        <id column="id" property="id"/>
        <result column="createBy" property="createBy"/>
        <result column="createTime" property="createTime"/>
        <result column="updateBy" property="updateBy"/>
        <result column="updateTime" property="updateTime"/>
        <result column="delFlag" property="delFlag"/>
        <result column="remark" property="remark"/>
        <result column="parentId" property="parentId"/>
        <result column="parentIds" property="parentIds"/>
        <result column="deptName" property="deptName"/>
        <result column="deptCode" property="deptCode"/>
        <result column="deptLevel" property="deptLevel"/>
        <result column="deptType" property="deptType"/>
        <collection property="children" column="{parentId=id}" select="selectTree"/>
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        <!-- 公共字段 -->
        `id` AS `id`,
        `create_by` AS `createBy`,
        `create_time` AS `createTime`,
        `update_by` AS `updateBy`,
        `update_time` AS `updateTime`,
        `del_flag` AS `delFlag`,
        `remark` AS `remark`,
        <!-- 普通字段 -->
        `parent_id` AS `parentId`,
        `parent_ids` AS `parentIds`,
        `dept_name` AS `deptName`,
        `dept_code` AS `deptCode`,
        `dept_level` AS `deptLevel`,
        `dept_type` AS `deptType`
    </sql>

    <select id="selectTree" resultMap="treeMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_dept
        WHERE parent_id = #{parentId}
        AND del_flag = false
    </select>

</mapper>
