<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kiilin.modules.dao.SysMenuDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kiilin.modules.pojo.dto.SysMenu">

        <id column="id" property="id" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
        <result column="remark" property="remark" />
        <result column="parent_id" property="parentId" />
        <result column="parent_ids" property="parentIds" />
        <result column="menu_name" property="menuName" />
        <result column="menu_level" property="menuLevel" />
        <result column="menu_type" property="menuType" />
        <result column="menu_href" property="menuHref" />
        <result column="menu_target" property="menuTarget" />
        <result column="menu_icon" property="menuIcon" />
        <result column="permission" property="permission" />
        <result column="show_flag" property="showFlag" />
        <result column="sys_code" property="sysCode" />
    </resultMap>

    <resultMap id="treeMap" type="com.kiilin.modules.pojo.entity.SysMenuEntity">
        <id column="id" property="id" />
        <result column="createBy" property="createBy" />
        <result column="createTime" property="createTime" />
        <result column="updateBy" property="updateBy" />
        <result column="updateTime" property="updateTime" />
        <result column="delFlag" property="delFlag" />
        <result column="remark" property="remark" />
        <result column="parentId" property="parentId" />
        <result column="parentIds" property="parentIds" />
        <result column="menuName" property="menuName" />
        <result column="menuLevel" property="menuLevel" />
        <result column="menuType" property="menuType" />
        <result column="menuHref" property="menuHref" />
        <result column="menuTarget" property="menuTarget" />
        <result column="menuIcon" property="menuIcon" />
        <result column="permission" property="permission" />
        <result column="showFlag" property="showFlag" />
        <result column="sysCode" property="sysCode" />
        <collection property="children" select="selectTree" column="{parentId=id,menuLevel=menuLevel,sysCode=sysCode}" />
    </resultMap>


    <resultMap id="treeMapNoneAction" type="com.kiilin.modules.pojo.entity.SysMenuEntity">
        <id column="id" property="id" />
        <result column="createBy" property="createBy" />
        <result column="createTime" property="createTime" />
        <result column="updateBy" property="updateBy" />
        <result column="updateTime" property="updateTime" />
        <result column="delFlag" property="delFlag" />
        <result column="remark" property="remark" />
        <result column="parentId" property="parentId" />
        <result column="parentIds" property="parentIds" />
        <result column="menuName" property="menuName" />
        <result column="menuLevel" property="menuLevel" />
        <result column="menuType" property="menuType" />
        <result column="menuHref" property="menuHref" />
        <result column="menuTarget" property="menuTarget" />
        <result column="menuIcon" property="menuIcon" />
        <result column="permission" property="permission" />
        <result column="showFlag" property="showFlag" />
        <result column="sysCode" property="sysCode" />
        <collection property="children" select="selectTreeNoneAction" column="{parentId=id,menuLevel=menuLevel,sysCode=sysCode}" />
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        <!-- 公共字段 -->
        `id` AS `id`,
        `create_by` AS `createBy`,
        `create_time` AS `createTime`,
        `update_by` AS `updateBy`,
        `update_time` AS `updateTime`,
        `del_flag` AS `delFlag`,
        `remark` AS `remark`,
        <!-- 普通字段 -->
        `parent_id` AS `parentId`,
        `parent_ids` AS `parentIds`,
        `menu_name` AS `menuName`,
        `menu_level` AS `menuLevel`,
        `menu_type` AS `menuType`,
        `menu_href` AS `menuHref`,
        `menu_target` AS `menuTarget`,
        `menu_icon` AS `menuIcon`,
        `permission` AS `permission`,
        `show_flag` AS `showFlag`,
        `sys_code` AS `sysCode`
    </sql>

    <select id="selectTree" resultMap="treeMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_menu
        WHERE parent_id = #{parentId}
        AND sys_code = #{sysCode}
        AND del_flag = false

    </select>

    <select id="selectTreeNoneAction" resultMap="treeMapNoneAction">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_menu
        WHERE parent_id = #{parentId}
        AND menu_type != 'action'
        AND sys_code = #{sysCode}
        AND del_flag = false

    </select>


    <select id="getMenuByUser" resultType="com.kiilin.modules.pojo.dto.SysMenu">
        SELECT
            m.*
        FROM
            sys_menu m
        JOIN sys_role_menu rm ON m.id = rm.menu_id AND rm.del_flag = FALSE
        JOIN sys_user_role ur ON rm.role_id = ur.role_id AND ur.del_flag = FALSE AND ur.user_id = #{userId}
        <where>
            <if test="types != null">
                AND menu_type in
                <foreach collection="types" item="type" open="(" separator="," close=")">
                    #{type}
                </foreach>
            </if>
            AND m.sys_code = #{sysCode}
            AND m.del_flag = false
            AND m.show_flag = true
        </where>

        ORDER BY m.menu_level, m.create_time, m.sort
    </select>


</mapper>
