<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kiilin.modules.dao.SysRoleDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kiilin.modules.pojo.dto.SysRole">

        <id column="id" property="id"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="del_flag" property="delFlag"/>
        <result column="remark" property="remark"/>
        <result column="role_name" property="roleName"/>
        <result column="role_code" property="roleCode"/>
        <result column="role_type" property="roleType"/>
        <result column="data_scope" property="dataScope"/>
        <result column="useable" property="useable"/>
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        <!-- 公共字段 -->
        `id` AS `id`,
        `create_by` AS `createBy`,
        `create_time` AS `createTime`,
        `update_by` AS `updateBy`,
        `update_time` AS `updateTime`,
        `del_flag` AS `delFlag`,
        `remark` AS `remark`,
        <!-- 普通字段 -->
        `role_name` AS `roleName`,
        `role_code` AS `roleCode`,
        `role_type` AS `roleType`,
        `data_scope` AS `dataScope`,
        `useable` AS `useable`
    </sql>


</mapper>
